aiofiles
aiohttp
beautifulsoup4
dnspython
ffmpeg-python
gitpython
hachoir
motor
Pillow
heroku3
psutil
py-tgcalls
ntgcalls
pykeyboard
git+https://github.com/KurimuzonAkuma/pyrogram@dev
python-dotenv
pyyaml
requests
speedtest-cli
spotipy
Tgcrypto
unidecode
git+https://github.com/yt-dlp/yt-dlp@master
youtube-search
youtube-search-python
